.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 90px 1fr 1fr;
  grid-template-areas: "header header header header" "nav content content content" "nav content content content";

}


.app-wrapper-content {
  /*
  width: 1200px;
  */
  grid-area: content;
  background-color: azure;
}
#root {
  margin: 0 auto;
  height: 100%;
}